
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:ital,wght@0,300;0,400;1,300;1,400;1,500;1,600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/*mobile*/

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    list-style: none;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;

}



body{
    
    line-height: 1.2;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Merienda', cursiva; 
    background-color: #5f5f5f;
    transition: all 1.5s ease;
     

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 100px;
    width: 100%;
    background-color:rgb(253, 242, 242);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 3px 10px -5px; color: #5f5f5f;
    

}
/*========menu hamburguesa***/

#menu-bton{

    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 30px;
    width: 30px;
    height: 80px;
    cursor: pointer;
    color:#3a58ed ;
    
    
}

i#close-menu {

    display: none;
}

nav {
    display: none;
}


/***esttilo a mi checkbox****/

#label_toggle{

    background-color: transparent;
    color:#3a58ed ;
    border: 0;
    outline: 0;
    font-size: 30px;
    align-items: center;
    width: 50px;
    height: 40px;
    cursor: pointer;
    transition: all 1.5s ease;
    
}



#toggle{
    display: none;
}

/***para darle cambio al dar el checkebox en el body***/

.dark{
    background-color: #5f5f5f;
    transition: all 1.5s ease;
    color: black;
    
}


/****menu navegacion estilo***/

body.mobile-menu-active{
	overflow: hidden;
}

body.mobile-menu-active i#close-menu{
	display: block;
    
}

body.mobile-menu-active i#open-menu{
	display: none;
}

body.mobile-menu-active header{
	height: 45vh;
	flex-wrap: wrap;
	align-items: flex-start;
	transition: height 0.7s;
    
}

body.mobile-menu-active nav{
	display: block;
	width: 100%;
    height: 50%;

}
body.mobile-menu-active ul#menu {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}


.logo{
    margin-top: 5px;
    margin-right:5px;
    
}




ul#menu {
    display: flex;
    font-size: 20px;
    color: rgb(68, 67, 67);  
    cursor: pointer;
    
    font-weight: bold;
}

li.menu-item {
    display: inline-block;
    padding: 16px;
    
}
 
.menu-lista2{
    display: inline-block;
    padding: 16px;
    
    }


li.menu-item a:hover {
	background-color: #3a58ed;
    color: black;
	transition: 0.3s;
	
}   

.menu-lista2 a:hover {
	background-color: #3a58ed;
    color: black;
	transition: 0.3s;
}	


.foto1 {
    border-radius: 50%;
    border: solid 10px;
    border-color: #62cce6;
    width: 100px;
    max-height: 400px;
    min-width: 300px;
    max-width: 300%; 
    margin-top:40px;
    
    
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    padding-top: 90px;
    font-size: 18px;
    
    

    
}
section#Inicio {
    
    justify-content: space-around;
       

    }


    


h1 {
    
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
    color:black;
    text-decoration: underline; 

    
}

.saludo{
    
    text-align: center;
}

.boton{
    padding: 12px 20px;
	border-radius: 50px;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
    border: 1px solid #909ddb;
    box-shadow: 2px 2px 10px#909ddb; 
    background-color:rgb(100, 66, 238);
    cursor: pointer;
    
}
.boton:hover {
    background-color: #62cce6;
    transition: 0.3s;
    

}


h2{
    text-align: center;
    font-size: 28px;
    color: black;
    
}

.articulo{
    background-color: #62cce6;
    text-align: center;
    max-width: 600px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 12px 6px #62cce6;
    color: black;

}
.articulo2{
    background-color: #62cce6;
    text-align:left;
    max-width: 600px;
    padding: 40px;
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    box-shadow: 0px 4px 12px 6px #62cce6;
    
     
    
}
.parrafo2{
    color: black;
}

        
p{ font-size: 20px;
    margin:60px 0;
    text-align: justify;
    padding: 5px;
   
}

main {
    max-width: 1200px;
    margin: auto;
    

}


#redes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    color: black;
   
   
}


#redes i{
    font-size: 40px;
    
    font-weight: bold; 
    line-height: 50px;
    margin: 20px;
    
    

}

  #redes  :hover{
    background-color:rgb(100, 66, 238);
    transition: 0.3s ease;
    border-radius: 30px;
    
    
    
  }

li.icono{
    padding: 10px  ;
}

footer{
    
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
   background-color: rgb(100, 66, 238);
   text-align: justify;
   height: 45px;
   padding: 10px 5px 10px 5px;
   margin-top: 20px;
   
   }
   
   #footer{
    font-size: x-small;
   }

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}



/*desktop*/
  @media (min-width:1024px) {
    section#Inicio{
       flex-direction: row;   
       height: 70px;
       align-items: flex-start

    }
    body{

        background-color:#909ddb;
    }
    h1 {

        font-size: 48px;
        text-align: right;
        color: black
    }

    h2 {

        font-size: 32px;

    }

    #menu-bton{

        display: none;

     }

     .boton{
        background-color: rgb(100, 66, 238);
        border: 5px solid #909ddb;  
        
     }
     
     nav {
        display: block;
     }
    
     p{ font-size: 20px;
        margin:60px 0;
        margin-left: 20px;
        margin-right: 20px;
        text-align: justify;
        color: black;
       
    }
     section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px;
        min-height: 100vh;
        padding-top: 90px;
        font-size: 18px;
     }
     
     .articulo{
        background-color:#4583b8;
        text-align: center;
        max-width: 1000px;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 0px 4px 12px 6px #62cce6;
       
     }
     
     .foto1 {
        border-radius: 50%;
        border: solid 15px;
        border-color: #62cce6;
        width: 100px;
        max-height: 600px;
        min-width: 400px;
        max-width: 300%; 
        margin-top:40px;
        margin-right: 40px;      
        
  
    }
       
  }



  